<app-nav></app-nav>
<div class="container">
  <div class="starter-template">
    <h1>Information Systems Technology Course Descriptions</h1>
    <h2>Exploratory and Introduction to Information System Technology</h2>
    <h3><i>9th Grade (3 Credits)</i></h3>
    <p>All Grade 9 students go through the Exploratory Program. Students deciding to enter the field of Information Systems
      Technology are introduced to basic concepts of computer hardware and software. Instruction is provided in Microsoft
      Office (Word, Excel, and PowerPoint) while students demonstrate beginner skills in these programs. Students will be
      introduced to the basics of safety, as well as equipment identification and use. Internet skills and operating systems
      management are introduced. The introduction to programming and logic includes basic HTML commands. Technology-related
      mathematics, reading, writing, vocabulary and science are integrated throughout the curriculum.
    </p>
  </div>
</div>
<app-footer></app-footer>
